<label class="redsheepHeadline">Crons</label>
<hr/>
<p class="redsheepDescription prettyTable">
    <label>{{ executedCrons }}</label><br/>
    {% if cronReset %}
        <label>Cron successfully resetted.</label><br/>
    {% endif %}
    {% if cronStatus %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Function</th>
                <th>Last Start</th>
                <th>Last End</th>
                <th>Interval</th>
                <th>Active</th>
                <th>Message</th>
                <th>Option</th>
            </tr>            
            {% for cron in cronStatus %}
                <tr>            
                    <td>{{ cron.name }}</td>
                    <td>{{ cron.executePluginID }}, {{ cron.executeFunction }}</td>
                    <td>{{ cron.lastStart }}</td>
                    <td>{{ cron.lastEnd }}</td>
                    <td>{{ cron.interval }}</td>
                    <td>{{ cron.isActive|replace({1: "Yes", 0: "No"}) }}</td>
                    <td>{{ cron.message }}</td>
                    <td><a href="/backend/cron/{{ cron.id }}">Reset</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <label>No log available.</label>
    {% endif %}
</p>
