<label class="redsheepHeadline">Plugin Overview</label>
<hr/>
<p class="redsheepDescription">
    {% if pluginConfig is iterable %}
        <form action="/backend/plugins/edit/{{ pluginID }}/save" method="POST">
            {% if pluginConfigResponse %}
                <label>Plugin saved.</label><br/>
            {% endif %}
            {% for config in pluginConfig %}
                <div class="form-group">
                    <label for="{{ config.name }}">{{ config.label }}</label>
                    <input type="text" class="form-control" id="{{ config.name }}" name="{{ config.name }}" value="{{ config.default }}" placeholder="{{ config.default }}">
                </div><br/>        
            {% endfor %}
            <button type="submit" class="btn btn-default">Save settings</button>
        </form>
    {% elseif pluginsOverview is iterable %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th>Added</th>
                <th>Installed on</th>
                <th>Version</th>
                <th>Publisher</th>
                <th>Section</th>
                <th>Space</th>
                <th>Config</th>
            </tr>
        {% for plugin in pluginsOverview %}
            <tr>
                <td>{{ plugin.name }}</td>
                <td>{{ plugin.description }}</td>
                <td><a href="/backend/plugins/{{ plugin.id }}">{{ plugin.active|replace({1: "Yes", 0: "No"}) }}</a></td>
                <td>{{ plugin.added }}</td>
                <td>{{ plugin.installedOn }}</td>
                <td>{{ plugin.version }}</td>
                <td><a href="{{ plugin.publisherHomepage }}" name="{{ plugin.publisher }} Homepage" title="{{ plugin.publisher }} Homepage" target="_blank">{{ plugin.publisher }}</a></td>
                <td>{{ plugin.section }}</td>
                <td>{{ plugin.space }}</td>
                <td><a href="/backend/plugins/edit/{{ plugin.id }}">Edit</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</p>
