{% if siteCalled.createNewSite is not empty %}
    {% include "%template%/%area%/elements/texteditor"|replace({"%template%": template, "%area%": area}) %}
{% elseif siteSaved.saved is not empty %}
       {{ siteSaved.message|raw }}
{% elseif siteCalled.message.text is not empty %}
    {% include "%template%/%area%/elements/texteditor"|replace({"%template%": template, "%area%": area}) %}
{% elseif siteCalled.message %}
    {% if siteCalled.message is iterable %}
    <a href='/backend/sites?new=true'>Click here to create a new site</a>
    <br/><br/>
    <label>Click on a site to edit:</label>
        {% for site in siteCalled.message %}
        <br/><a href='/backend/sites/{{ site.name }}'>{{ site.name }}</a>
        {% endfor %}
    {% endif %}
{% endif %}