{% if siteIsSaved is not empty %}
    {{ siteIsSaved }}
{% endif %}

{% if oneViewport.id is not empty %}
<script type='text/javascript'>
    $(document).ready(function(){
        // Check if grid or statissite has to be shown
        function checkShow() {
            if($('.type').val() === 'grid') {
                $('.staticsiteSelector').fadeOut();
                $('.gridSelector').fadeIn();
            } else {
                $('.staticsiteSelector').fadeIn();
                $('.gridSelector').fadeOut();
            }
        };
        
        // On dropdown change
        $('.type').change(function() {
            checkShow();
        });
        
        // Aaaaand check on call
        checkShow();
    });
</script>

<form action="/backend/navigation/{{ oneViewport.id }}" method="POST">
{% else %}
<form action="/backend/navigation/?newSite=true" method="POST">
{% endif %}
    <div class="form-group">
        <label for="inputHeadline">Navigation Name</label>
        <input type="text" class="form-control" id="headline" name="headline" placeholder="Headline" value="{{ oneViewport.name }}">
    </div>
    
    <div class="form-group">
        <label for="inputHeadline">Link</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="Link" value="{{ oneViewport.link }}">
    </div>
    
    <div class="form-group">
        <label for="inputHeadline">Type</label>
        <select name='type' class="form-control type">
            <option value='staticsite' id='staticsite' name='staticsite' {% if oneViewport.type  == 'staticsite' %}selected="selected"{% endif %}>Staticsite</option>
            <option value='grid' id='grid' name='grid' {% if oneViewport.type == 'grid' %}selected="selected"{% endif %}>Grid</option>
        </select>
    </div>
    
    <div class="form-group staticsiteSelector">
        <label for="inputHeadline">Show site element</label>
        <select name='elementID' class="form-control">
             {% for site in oneViewport.availableSites %}
                <option value='{{ site.id }}' id='{{ site.id }}' name='{{ site.id }}' {% if oneViewport.typeID == site.id %}selected="selected"{% endif %}>{{ site.name }}</option>
             {% endfor %}
        </select>
    </div>

    <div class="form-group gridSelector" style='display:none;'>
        <label for="inputHeadline">Show grid element</label>
        <select name='elementID' class="form-control">
             {% for grid in oneViewport.availableGrids %}
                <option value='{{ grid.gridID }}' id='{{ grid.gridID }}' name='{{ grid.gridID }}' {% if oneViewport.typeID == grid.id %}selected="selected"{% endif %}>{{ grid.gridName }}</option>
             {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="inputHeadline">Is Active?</label>
        <select name='isActive' class="form-control">
            <option value='1' id='1' name='1' {% if oneViewport.isActive == 1 %}selected="selected"{% endif %}>Yes</option>
            <option value='0' id='0' name='0' {% if oneViewport.isActive == 0 %}selected="selected"{% endif %}>No</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="inputHeadline">Position</label>
        <select name='position' class="form-control">
            <option value='top' id='top' name='top' {% if oneViewport.position == "top" %}selected="selected"{% endif %}>Top</option>
            <option value='bottom' id='bottom' name='bottom' {% if oneViewport.position == "bottom" %}selected="selected"{% endif %}>Bottom</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>