body {
    font-family:'Oswald', Arial,Helvetica,sans-serif;    
}

.redsheepContainer {
    position:absolute;
    top:0px;
    left:0px;
    min-height:1100px;
    height:100%;
    width:100%;
    background-color:#d3d3d3;
}

.redsheepHeader {
    width:100%;
    height:200px;
    background-color:#8F1414;
    border-bottom:1px black solid;
    color:white;
}

.redsheepHeaderInner {
    position:relative;
    top:30px;
    margin-right:auto;
    margin-left:auto;
    height:50px;
    width:800px;
    display:block;    
}

.redsheepNavPoints {
    text-transform: uppercase;
    font-size: 90%;
    position:absolute;
    top:10px;
    right:-50px;
    width:500px;
    height:30px;
    border-radius:5px;
    background: rgba(255,255,255,.2);
    float:right;
}

.redsheepNavPoints ul {
    margin: 0 -12;
    list-style: none;
    display: block;
}

.redsheepNavPoints ul li {
    float: left;
    margin: 0;
}

.redsheepNavPoints a:link, nav a:visited, a:focus, a:active {
    text-decoration: none;
    color: #fff!important;
    padding: 5px 10px 6px;
    display: block;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.redsheepNavPoints a:hover {
    background-color:white;
    color:#8F1414!important;
}

.redsheepLogoStyle {
    color:white;
    font-size:35px;
    text-shadow: -1px -1px 0px #202020, 1px 1px 0px #fff;
}

.redsheepLogoStyle:hover {
    cursor:pointer;
}

.redsheepContent {
    position:absolute;
    top:110px;
    width:900px;
    left:0;
    right:0;
    height:950px;
    margin-left:auto;
    margin-right:auto;    
    background-color:white;
    -moz-box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    box-shadow: 0 0 2px 2px grey;
    color:grey;
}

.redsheepBanner {
    position:absolute;
    top:10px;
    left:10px;
    width:880px;
    height:250px;
    background-color:#f4eeee;
}

.redsheepBannerInner {
    border-radius:5px;
}

.redsheepPresent {
    position:absolute;
    left:20px;
    top:300px;
    width:860px;
}

hr {
    margin-bottom: 15px;
    border-style: solid;
    border-width: 2px 0 0 0;
    display: block;
    -webkit-margin-before: 0.7em;
    -webkit-margin-after: 0.7em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.redsheepDescription {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align:justify;
}

.redsheepHeadline {
    font-size: 25px;
    line-height: 25px;
    font-weight: normal;
}

.redsheepFooter {
    position:absolute;
    top:875px;
    left:0px;
    height:75px;
    width:900px;
    color:#333333;
    background-color:#96919E;
    text-transform: uppercase;
}

.redsheepFooterInnerRight {
    text-align:right;
    margin-top:-20px;
    word-spacing:5px;
}

.redsheepFooterInner {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    padding: 30px 30px 20px 30px;
}

.redsheepFooterLink {
    color:#333333;
    text-decoration:none;
}

.redsheepFooterLink:hover {
    color:#8F1414;
    text-decoration:none;
}

.prettyTable {
    position:absolute;
    height:770px;
    overflow:auto;
}